// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.auth-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
}